body{background-color:beige;}

main{background-color: azure;width: 1150px; margin-left: 20px;height: 500px}

header{width: 1150px; height: 100px;background-color: cornflowerblue;}

section{background-color:aquamarine;display:flex; padding: 5px;}

#Menu{background-color: darkcyan; width: 200px;}

#contenido{background-color: blanchedalmond;width:730px;margin-left: 5px;margin-right: 5px; }

img{width: 700px;}

#Sidebar{background-color: crimson; width: 200px;}

footer{background-color: deeppink;height: 100px; width: 1150px;}